body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

.scores {
    display: flex;
    gap: 32px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}